/* Adjustments to navbar items */
.navbar-nav .nav-link {
    padding-right: 1rem !important;
  }
  /* Styling for search bar */
  .form-control {
    width: 100%;
    max-width: 400px;
    background-color: #092334;
  }



/* Sidebar styling */
#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #092334;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
  }
  /* Sidebar links */
  #sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
  }


    /* Sidebar links */
  #sidebar li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
    display: block;
    transition: 0.3s;
  }
  /* Main content padding when sidebar is opened */
  #main-content {
    transition: margin-left 0.5s;
    margin-top: 1.5rem;

  }
  /* Icon position */
  .menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #020F1D;
}
.navbar + .container-fluid {
  margin-top: 56px; /* Height of the navbar */
}

/* Show the sidebar for medium and large devices */
@media (min-width: 992px) {
    #sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 80px;
    }

    /* Adjust the main content's position for medium and large devices */
    #main-content {
        margin-left: 200px;
    }

    .navbar + .container-fluid {
      margin-top: 64px; /* Height of the navbar for large screens */
  }
}


/* Sidebar close button */
#sidebar-close-btn {
  margin-left: 200px; /* Pushes the button to the right end */
}


.navbar-nav .nav-link .bi {
  font-size: 1.5rem; /* Adjust the size as needed */
}


/* Styling for search bar container */
.search-container {
  margin-bottom: 1.5rem; /* Adjust margin as needed */
}

.search-container form {
  display: flex;
  align-items: center;
}

/* Styling for search bar */
.form-control {
  width: 100%;
  max-width: 400px;
}


/* Styling for rounded upload button */
.btn-rounded {
  border-radius: 50px; /* Adjust border-radius for desired roundness */
}

/* Full width for upload button */
.btn-block {
  width: 100%;
}



body {
  background-color: #020F1D;
  color: whitesmoke;
  opacity: 75%;
}

.nav-link {
  color: white;
}

.card {
  background-color: #020F1D;
}
.card-body {
  background-color: #092334;
  border-radius: 5px;

}

.btn-success {
  background-color: #198754;
  color: #020F1D;
  border: none;
  font-size: large;
  font-weight: 700;
}


.btn-outline-success {
  background-color: #198754;
  color: #020F1D;
  border: none;
  font-size: large;
  font-weight: 600;
}

table th, td{
  color: whitesmoke;
}

thead {
  background-color: #092334;
  border-radius: 10px;
  font-weight: 700;
}

/* Custom styles for the menu icon button */
#menu-btn {
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
  margin-right: 0px;
}

#menu-btn .bi-list {
  color: #fff; /* Set the color of the icon to white */
  font-size: 2rem; /* Increase the font size of the icon */
}


.sort {
  background-color: #565e64;
  color: white;
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 60px; /* Adjust the value as needed */
  }

  #main-content {
    margin-left: 250px;
  } 
  .card-body {
    background-color: #092334;
    border-radius: 5px;
    width: 10rem;
  
  }
  
  .file {
    width: 8rem;
    padding: 5px;
  }
}



/* CSS for Sidebar Navigation Icons on Small Devices */
#sidebar .row.d-md-none {
  justify-content: space-between; /* Distribute icons evenly */
}

#sidebar .row.d-md-none .dropdown-toggle {
  color: #212529; /* Set icon color */
}

#sidebar .row.d-md-none .dropdown-toggle:hover {
  color: #007bff; /* Change icon color on hover */
}


 /* Custom classes to change the color */
 .bg-low {
  background-color: #ffc107 !important; /* Yellow for low level */
}

.bg-medium {
  background-color: #007bff !important; /* Blue for medium level */
}

.bg-high {
  background-color: #dc3545 !important; /* Red for high level */
}




.versions-dropdown .latest-version {
  color: green; /* Example style for the latest version */
}

.versions-dropdown .oldest-version {
  color: red; /* Example style for the oldest version */
}

/* CSS code for styling */
.preview {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.preview h2 {
  margin-top: 0;
}

.preview-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.preview-container img,
.audio-preview audio,
.document-preview iframe {
  max-width: 45%;
  height: auto;
}

.preview-container p {
  text-align: center;
}

.file-versions ul {
  list-style-type: none;
  padding: 0;
}

.file-versions ul li {
  margin-bottom: 5px;
}

.file-versions ul li a {
  text-decoration: none;
  color: blue;
}