.citadel {
  text-decoration: none;
  height: 39px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.citadel-1-icon {
  position: absolute;
  top: -18px;
  left: 0;
  width: 112px;
  height: 120px;
  object-fit: cover;
}
.citadel-text-child {
  position: absolute;
  top: -41px;
  right: 57px;
  width: 16px;
  height: 44px;
  object-fit: contain;
  z-index: 1;
}
.citadel-text {
  height: 85px;
  width: 147px;
  position: absolute;
  margin: 0 !important;
  bottom: -36px;
  left: -113px;
  z-index: 1;
}
.citadel-parent,
.namelogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.citadel-parent {
  align-items: flex-start;
  position: relative;
}
.namelogo {
  align-self: stretch;
  background-color: var(--color-gray-500);
  overflow: hidden;
  align-items: center;
  padding: 36px 153px;
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.sign-in {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
}
.create-one {
  text-decoration: underline;
  font-weight: 600;
  color: var(--color-darkslategray-200);
}
.dont-have-an-container {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.sign-in-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-4xl);
  font-size: var(--font-size-29xl);
  color: var(--color-gray-500);
}
.email {
  position: relative;
  letter-spacing: -0.15px;
  line-height: 20px;
}
.examplegmailcom {
  width: 146px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-slategray-100);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.text,
.text1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-lightsteelblue);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xl) var(--padding-7xs);
}
.text {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.password {
  letter-spacing: -0.15px;
  line-height: 20px;
}
.m-n-icon,
.mn,
.password {
  position: relative;
}
.mn {
  width: 43px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  color: var(--color-slategray-100);
  text-align: left;
  display: inline-block;
}
.m-n-icon {
  height: 62px;
  width: 86px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.login-label {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-lightsteelblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  gap: var(--gap-xl);
}
.sign-in-button {
  margin: 0;
  height: 20px;
  width: 19px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.remember-me {
  position: relative;
  letter-spacing: -0.15px;
  line-height: 20px;
}
.sign-in-button-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.forgot-passsword {
  position: relative;
  letter-spacing: -0.15px;
  line-height: 20px;
  color: var(--color-darkslategray-200);
}
.checkbox,
.login-label-parent,
.password-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.checkbox {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.login-label-parent,
.password-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.login-label-parent {
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
}
.password-parent {
  gap: var(--gap-xl);
}
.sign-in1 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.frame-container,
.sign-in-btn {
  align-self: stretch;
  display: flex;
}
.sign-in-btn {
  cursor: pointer;
  border: 1px solid var(--color-lightsteelblue);
  padding: var(--padding-xl);
  background-color: var(--color-gray-500);
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper:hover,
.sign-in-btn:hover {
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-slategray-200);
  box-sizing: border-box;
}
.frame-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.o-r-label {
  height: 1px;
  flex: 1;
  background-color: var(--color-lightgray);
  overflow: hidden;
  min-width: 156px;
}
.o-r-label,
.o-r-label1,
.or {
  position: relative;
}
.or {
  height: 22px;
  display: inline-block;
}
.o-r-label1 {
  height: 1px;
  flex: 1;
  background-color: var(--color-lightgray);
  overflow: hidden;
  min-width: 156px;
}
.sign-in-alternative {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xs);
  color: var(--color-slategray-100);
}
.google-icon {
  height: 35px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.continue-with-google {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.frame-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightsteelblue);
  padding: var(--padding-smi) var(--padding-lgi) var(--padding-sm);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-112xl);
}
.frame-wrapper:hover {
  background-color: var(--color-gainsboro);
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.desktop,
.desktop-inner,
.frame-group,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-parent {
  width: 525px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-18xl);
  max-width: 100%;
}
.desktop,
.desktop-inner {
  box-sizing: border-box;
}
.desktop-inner {
  width: 620px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 215px;
  gap: var(--gap-38xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .sign-in {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .desktop {
    gap: var(--gap-38xl);
  }
}
@media screen and (max-width: 675px) {
  .frame-container {
    gap: var(--gap-13xl);
  }
  .frame-parent {
    gap: var(--gap-18xl);
  }
}
@media screen and (max-width: 450px) {
  .namelogo {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sign-in {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
  .checkbox,
  .login-label {
    flex-wrap: wrap;
  }
  .or {
    width: 100%;
    height: 18px;
  }
  .frame-wrapper {
    flex-wrap: wrap;
    gap: var(--gap-112xl);
  }
}
